body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.project_title {
    margin-top : 120px;
}
#container {
    max-width: calc(100% - 400px);
    width: 100%;
}
.visit_button, .Get_button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #333;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    width: 200px;
}

.visit_button:hover,
.Get_button:hover {
    background-color: lightgray;
    color: #1a1a1a;
}
